{% extends 'base.html' %}

{% block header %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand">本棚</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home(図書一覧)<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'how_to_lend' %}">貸し出し方法説明</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <!-- <a class="nav-link" href="#">マイページ</a> -->
                <a class="nav-link" href="{% url 'mypage' user.username %}">マイページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">貸し出しカゴ</a>
            </li>
  
        </ul>
    </div>
</nav>
{% endblock header%}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">図書一覧</h1>
      <p class="lead">貸し出し図書の一覧です。</p>
    </div>
  </div>


    <div class='container' >
        {% for item in object_list%}

        <ul>
            {{ item.title }}
            <a href="{% url 'detail' item.pk %}" class="btn btn-success" role="button" aria-pressed="true">詳細</a>
        </ul>
        {% endfor %}
    </div>

{% endblock content %}
