{% extends 'base.html' %}

{% block header%}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand">本棚</a>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'list' %}">Home(図書一覧)</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'how_to_lend' %}">貸し出し方法説明</a>
          </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mypage' user.username %}">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">貸し出しカゴ</a>
          </li>
      </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">ご利用ありがとうございます。</h1>
      <p class="lead">貸し出し期限は2週間後です。</p>
    </div>
  </div>

{% endblock header%}

{% block content %}
{% endblock content %}

